# Application properties
app.name=
app.version=
app.environment=

#JWt properties
security.jwt.secret-key=
security.jwt.token-expiration=

#Operation properties
operation.wrapper.prefix=
operation.bot.prefix=

#Pool properties
threadpool.core-size=
threadpool.max-size=
threadpool.keep-alive-time=

#Constants properties
github.url=
cascade.color=